body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.header{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    top: 0;
    left: 0;
    height: 56px;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
    background-color: whitesmoke;
}

.button-header{
    color: black;
    font-size: 14px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: transparent
}

.hidden{
    transform: translateY(-100%);
}

.logo{
    display: flex;
}
