.tesla-flex-card{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.photo{
    display: block;
    width: 100vw;  
    height: 100vh; 
    object-fit: cover;
    position: absolute;
    left: 0;
    z-index: -1; 
}

.scrol-panel{
    overflow: hidden;
}

.button-card{
    margin: auto;
    inline-size: auto;
    max-inline-size: 100%;
    border-radius: 5px;
    font-size: 14px;
    width: 252px;
    height: 40px;
    padding-inline: 24px;
    border: none;
    background-color: #3e6ae1;
    color: whitesmoke;
    transition: .2s linear;
    cursor: pointer;
}

.button-card:hover{
    background-color: #3457b1;
}