body{
    background-color: rgb(255, 255, 255);
}

.header{
    background-color: black;
    color: rgb(255, 255, 255);
}

.up{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}